body {
  box-sizing: border-box;
  margin: 0;
}
#firstContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.firstP {
  margin-bottom: 3.5rem;
  margin-top: 0;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 1.3rem;
  color:hsl(201, 11%, 66%)
}
.secondP, .thirdP, .fourthP {
  margin-top: 0;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 1.3rem;
  color: hsl(201, 11%, 66%);
}
.firstTextWrap,
.secondTextWrap, 
.fourthTextWrap,
.thirdTextWrap {
  text-align: center;
  max-width: 50rem;
}
#thirdContainer img {
  margin-top: 5rem;
}
h1 {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 3.2rem;
  margin-bottom: 1.5rem;
  margin-top: 0;
  color: hsl(210, 10%, 33%);
}
.firstH2 {
  margin-top: 10rem;
  font-size: 2.5rem;
  font-family: "Bai Jamjuree", sans-serif;
  color: hsl(210, 10%, 33%);
}
.secondH2, .thirdH2, .fourthH2{
  font-size: 2.5rem;
  font-family: "Bai Jamjuree", sans-serif;
  margin-top: 5rem;
  color: hsl(210, 10%, 33%);
}

.topLogo {
  margin-top: 7rem;
  padding-bottom: 4rem;
}
.backgroundImg {
  background-image: linear-gradient(to bottom, transparent, #fff),
  url("/images/bg-header-desktop.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  justify-content: center;
}
p {
  text-align: center;
}
#secondContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem 13rem 5rem 0;
  gap: 4rem;
}
#secondContainer .bpContainer {
  margin-bottom: 4.5rem;
}
.firstUL {
  list-style: none;
  text-align: left;
  padding: 1rem;
  line-height: 2;
}
.footerUL {
  line-height: 2;
  list-style: none;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
}

ul .lHead {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
}
ul .lText {
  font-family: "Bai Jamjuree", sans-serif;
  color: grey;
  max-width: 22rem;
}
#thirdContainer,
#sixthContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#thirdContainer img {
  margin-bottom: -2rem;
}
#fourthContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#fourthContainer li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#fourthContainer ul {
  max-width: 20rem;
  line-height: 1.4;
}
#fifthContainer ul {
  display: flex;
  flex-direction: row;
  gap: 8em;
  justify-content: center;
  margin-bottom: 3rem;
}
#sixthContainer {
  margin-bottom: 1.5rem;
}
footer {
  padding: 1.5rem 0 1.5rem 0;
  margin-top: 8rem;
  background-color: #F5F6F8;
}
#footerULContainer{
  display: flex;
  justify-content: center;
  gap: 5rem;
  padding: 0.5rem;

}
#socialContainer {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-left: 20rem;
}

footer img {
  width: 4rem;
}
#buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.iosButton {
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 2rem;
  background-color: #26bba5;
  color: white;
  border: 0;
  font-size: 1rem;
  cursor: pointer;
}
.macosButton {
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 2rem;
  margin-left: 1rem;
  background-color: #6173fe;
  color: white;
  font-size: 1rem;
  border: 0;
  cursor: pointer;
}
.techBrandLogo {
  list-style: none;
  margin-top: 8rem;
}

.iosButton:hover {
  box-shadow: #26bba5 0 3px 8px;
  transition: 0.3s;
}
.macosButton:hover {
  box-shadow: #6173fe 0 3px 8px;
  transition: 0.3s;
}

@media screen and (max-width: 992px) {
  #buttonContainer {
    flex-direction: column;
    gap: 1.5rem;
    width: 80%;
  }
  .macosButton {
    margin-left: 0;
  }
  #secondContainer,  #thirdContainer {
    flex-direction: column;
    text-align: center;
    margin:  0 auto;
    width: 80%;
  }
  #thirdContainer img {
    width: 110%;
  }
  .secondP {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 3rem;
  }
  #secondContainer img{
    height: auto;
    width: 100%;
    margin-bottom: 2rem;
  }
  .firstUL {
    padding: 0;
    text-align: center;
  }
  .secondH2 {
    text-align: center;
  }
  #fourthContainer, #sixthContainer {
    flex-direction: column;
    margin-bottom: 8rem;
  }
  #fourthContainer ul {
    padding-left: 0;
  }
  #fourthContainer img {
    width: 3.5rem;
    margin-top: 3rem;
  }
  #fifthContainer ul {
    flex-direction: column;
    padding: 0;
    gap: 4rem;
  }
  #fifthContainer li {
    padding: 0;
    margin: 0 auto;
    text-align: center;
  }
  #sixthContainer {
    text-align: center;
    width: 80%;
    margin: 0 auto 3rem auto;
  }
  #buttonContainer {
    margin: 0 auto;
  }
  #footerULContainer {
    flex-direction: column;
    text-align: center;
    gap: 0;
  }
  #footerULContainer ul {
    padding-left: 0;
    margin: 0;
    line-height: 3;
  }
  #socialContainer {
    margin: 3rem auto 0 auto;
  }
}